
.name{
    margin-left:30px;

}
.name input{
    height: 30px;
    width:20%;
    font-size:14t;
    margin-left:10px;
    border:2px solid grey;
}
.address input{
    height: 30px;
    width:20%;
    font-size:14t;
    margin-left:5px;
    border:2px solid grey;
}
.country{
    margin-left:50px;
}
.country select{
    margin-left:14px;
    width:20%;
    height:30px;
    border-radius: 20px;
    border:2px solid grey;
}
.details{
    margin-left:30px;
}

aside{
    float: left;
    width:170px;
}
aside p{
    line-height: 15px;
    font-size: 10px;
    padding-right:15px;
}
.profiledescription textarea{
    width:45%;
    margin-left:10px;
    border:2px solid grey;

}
.billingaddress{
    clear:both;
}
label{
    font-weight: bold;
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;


  } 
  input[type=checkbox]:checked + label {
    color: black;
    font-style: normal;

  }        
  input[type="checkbox"]{
    cursor: pointer;
    transform: scale(3);
    -webkit-transform: scale(3); /* Safari and Chrome */
    margin-left:20px;


  }
  input[type=checkbox]{
      /* display:none; */
  }
  .progressdone{
    width:10%;
    height:40px;
    border:2px solid grey;
    background: grey;
    float: left;
}
.progressleft{
    background:white;
    width:85%;
    height:40px;
    border:2px solid grey;
    float:left;
    
}
