/* body styles*/
body{
    margin:50px 30px;
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#logo{
    height:100px;
    width:150px;
    background:rgba(150, 148, 148, 0.605);
    float:left;
    text-align: center;
    line-height: 100px;
}
#navigation{
    float:right;
    height:100px;
    width:400px;
    text-align: center;
    line-height: 100px;
    background:rgba(150, 148, 148, 0.605);
}
#page1{
    clear:both;
    padding-top:30px;
}
header{
    width:60%;
}
form{
    padding:10px;
    line-height: 60px;
    width:100%;

}
/* 
form input{
    margin-left:10px;
    padding:15px;
    width:20%;

    
}
form select{
    width:20%;

}
form label{

    padding-left:10px;
    display: block;
    width:15%;
    text-align: right;
}
.grid-two{
    width:40%;
}
 */
label{
    width:17%;
    margin-left:10px;
    font-weight: bold;
}
input{
    width:24%;
    padding:18px;
    margin-left:10px;
    border:2px solid grey;
    
}
.grid-two{
    display:block;
    text-align: right;
    margin-right:30%;

}
aside{
    width:20%;
    float: left;
}
aside p{
    font-size:0.7em;
    padding:10px;
    line-height: 14px;
}
textarea{
    width:67%;
    float: left;
}
.billingaddress{
    clear:both;
    padding-top:10px;
}
button{
    padding:20px;
    width:250px;
    float:right;
    margin-right:40px;
}
.grid-one{
    width:100%;
    padding-right:20px;
    float:right;
}
.grid-one label{
    margin-left:12%;
}
.grid-one select{
    width:19.5%;
    border:2px solid grey;
    margin-left:13px;
    padding:18px;
}
table{
    width:60%;
}
textarea{
    border:2px solid grey;
}